.title {
  width: 90%;
  margin: 1rem auto 0;

  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  article {
    display: flex;
    align-items: center;

    svg {
      margin-right: 1rem;
    }

    h1 {
      color: $color-white;
      font-size: 1.2rem;
      text-transform: capitalize;

      span {
        font-size: 0.8rem;
      }
    }
    p {
      color: $color-white;
      font-size: 0.8rem;
    }
  }
}
